body
{
    text-align: center;
    background-color: darkblue;
}

#videos
{
    background-color:wheat;
}

h1
{
    color: white;
    border-style: dashed;
    border-width: 5;
    border-color: aqua;
    font-family: "Langar", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3
{
    color: yellow;
}

#vid
{
    color: black;
    border-color: rgb(188, 73, 6);
}

.nav navbar-nav
{

    position: fixed;
    background-color: rgb(133, 23, 236);
    width: 100%;
    margin-top: 0px;
    top: 0px;

}

li
{

    display: inline;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20;
    padding-top: 20 ;
    font-size: 20px;
    float: left;
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "width" 100;


}

li:hover
{

    text-decoration: underline;

}